
html {
background-image: url("../images/nyx/nyx.jpg"); }

* { margin: 0, padding 0; }

body {
  width: 962px;
  background-color: white;
  margin: 15px auto;
  border: 1px solid black; }

  h2 { padding: 1em; }

  header {
  	background-image:
  		 -webkit-linear-gradient(45deg, white 10%, #E29C82 60%, #E67A51 90%);
    border-bottom: 2px solid orange;
  }

  main {
    background-color: #F7D8CC;
    height: 2350px;
    width: 660px;
    float: right;
    border-left: 2px solid pink }

aside {
  color: red;
  height: 2350px;
  width: 295px;
  float: left;
  background-color: #F7D8CC;
  border-right: 5px dotted #7971CF;
 }

 #nav_menu_1 {
 	list-style: none;
 	margin-left: 1.25em;
 	margin-bottom: 1.5em; }

 #nav_menu_1 ul li a {

 	display: block;
 	padding: .5em 0 .5em 1.5em;
 	text-decoration: none;
 	font-weight: none;
 	color: blue; }

 	#nav_menu_1 ul li a.current {
 		background-color: silver;

  }

  footer {
    color: black;
    width: 962px;
    height: 80px;
    clear: both;
    border-top: 2px solid #E67A51;
    background-color: #E67A51;
  }
